{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applifire</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="page-title">Applifire</div>
        <div class="right-buttons">
            <button class="nav-button" onclick="window.location.href='{% provider_login_url 'google' %}'">התחבר עם Google</button>
            <button class="nav-button" onclick="showLogin()">Login</button>
            <button class="nav-button" onclick="showRegister()">Register</button>
            <button class="nav-button" onclick="showForgotPassword()">Forgot Password?</button>
        </div>
    </div>

    <div class="content-area" id="content-area"></div>
    <p id="details-message"></p>
    <span id="logout-url" data-url="{% url 'account_logout' %}"></span>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
