{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign In to Applifire</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Applifire</h1>
    <div class="card">
      <h2>Sign in</h2>
      <form id="login-form">
        <label>Email</label>
        <input type="text" name="email" autocomplete="email" placeholder="email" required>

        <!-- if i want to use log in with username  -->
        <!-- <label>Username</label>
        <input type="text" name="username" autocomplete="username" placeholder="username" required> -->

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" autocomplete="current-password" required>


        <div class="remember">
          <label><input type="checkbox" id="remember-me" /> Remember me</label>
          <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </div>

        <button type="submit" class="primary-btn">Sign In</button>
        <div id="login-error" class="error-message hidden"></div>

        <div class="divider"><span>OR</span></div>

        <a href="{% provider_login_url 'google' %}">
          <button type="button" class="google-btn">
            <span class="google-icon-wrapper">
              <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" />
            </span>
            Sign in with Google
          </button>
        </a>
        

        <div class="signup-link">
          Don’t have an account? <a href="signup">Sign up now</a>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
