{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Set New Password - applifire</title>
  <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
  <div class="card">
    <h2>Set a new password</h2>
    <p>Enter your username and a email below.</p>

    <form id="reset-password-form">
        <input type="text" class="input-field" id="reset-username" placeholder="Username" required autocomplete="username"/>
        <input type="email" class="input-field" id="reset-email" placeholder="email" required autocomplete="email"/>
        
      
        <p id="reset-error-message" class="error-message"></p>
      
        <button type="submit" class="create-btn">Set Password</button>
      </form>
      

    <div class="login-link">
      Back to <a href="/login/">Sign in</a>
    </div>
  </div>

  <script src="{% static 'js/password_reset_form.js' %}"></script>
</body>
</html>
