{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Set New Password - applifire</title>
  <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
  <div class="card">
    <h2>Set a new password</h2>
    <p>Enter your username and a email below.</p>

    <form id="forgot-password-form">
        <input type="text" id="forgot-username" placeholder="Username" required required autocomplete="username"/>
        <input type="email" id="forgot-email" placeholder="Email" required required autocomplete="email"/>
        <button type="submit">Send Reset Link</button>
        <p id="forgot-error-message" style="color: red; margin-top: 1rem;"></p>
    </form>
      

    <div class="login-link">
      Back to <a href="/login/">Sign in</a>
    </div>
  </div>

  <script src="{% static 'js/password_reset_form.js' %}"></script>
</body>
</html>
